<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZLMainViewController</key>
	<dict>
		<key>class</key>
		<string>ZLMainViewController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLNewsViewController</key>
	<dict>
		<key>class</key>
		<string>ZLNewsViewController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLStarRepoViewController</key>
	<dict>
		<key>class</key>
		<string>ZLStarRepoViewController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLExploreViewController</key>
	<dict>
		<key>class</key>
		<string>ZLExploreViewController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLProfileViewController</key>
	<dict>
		<key>class</key>
		<string>ZLProfileViewController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLAboutViewController</key>
	<dict>
		<key>class</key>
		<string>ZLAboutViewController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLWorkboardViewController</key>
	<dict>
		<key>class</key>
		<string>ZLWorkboardViewController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLOrgsViewController</key>
	<dict>
		<key>class</key>
		<string>ZLOrgsViewController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLUserInfoController</key>
	<dict>
		<key>class</key>
		<string>ZLUserInfoController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLMyIssuesController</key>
	<dict>
		<key>class</key>
		<string>ZLMyIssuesController</string>
		<key>type</key>
		<integer>0</integer>
		<key>isSingle</key>
		<false/>
	</dict>
	<key>ZLLogModule</key>
	<dict>
		<key>class</key>
		<string>ZLLogManager</string>
		<key>type</key>
		<integer>2</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedInstance</string>
	</dict>
	<key>ZLDBModule</key>
	<dict>
		<key>class</key>
		<string>ZLDataBaseManager</string>
		<key>type</key>
		<integer>2</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedInstance</string>
	</dict>
	<key>ZLLANModule</key>
	<dict>
		<key>class</key>
		<string>ZLLanguageManager</string>
		<key>type</key>
		<integer>2</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedInstance</string>
	</dict>
</dict>
</plist>
