<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>A20BC74EC29DEE92BF38EC0D48F96FCC</string>
            <key>code2</key>
            <string>24F0DD31C758137DAFFF093DB6DAFF27</string>
            <key>code3</key>
            <string>9FD34FB2081FC44C3D96ED9D23F419A5</string>
            <key>code4</key>
            <string>D3A55E57B1563D66E946DF717231C192</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>url</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>websocketurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>110392069</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>172249065903008985</string>
            <key>package_name</key>
            <string>com.zm.ZLGitHubClient</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>150086000021234591</string>
            <key>product_id</key>
            <string>388421841221980402</string>
            <key>client_id</key>
            <string>1362453184160764992</string>
            <key>client_secret</key>
            <string>[!002875E649E167DD15E39397659B5D70B143D7E1113B39E9DDE695D5F3FFC85ECA3F0E6EE9FF25F5AA67972F5610C99D423F2678D6F6866402D90B98E124A4AFD25A51D41F3105627F2309BF6962FB27C76718D6B1405C9980636C3C1822F1E52F]</string>
            <key>project_id</key>
            <string>388421841221980402</string>
            <key>app_id</key>
            <string>172249065903008985</string>
            <key>api_key</key>
            <string>DAEDAAYhAreHWLco/C90pGkQ6MbZRIP2KtSZUuz9Hh2grEsRDyJzr9X2TfR0fzSX7a6gR3kiBaFx+Cyf3wtg+RVFNwa1LlE9fwG/dA==</string>
            <key>package_name</key>
            <string>com.zm.ZLGitHubClient</string>
        </dict>
        <key>service</key>
        <dict>
            <key>edukit</key>
            <dict>
                <key>dh_url</key>
                <string>edukit.cloud.huawei.com.cn</string>
                <key>edu_url</key>
                <string>edukit.cloud.huawei.com.cn</string>
            </dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drcn.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn_back</key>
                <string>https://agc-storage-drcn.cloud.huawei.com.cn</string>
                <key>storage_url_de</key>
                <string>https://ops-dre.agcstorage.link</string>
                <key>storage_url_de_back</key>
                <string>https://agc-storage-dre.cloud.huawei.eu</string>
                <key>storage_url_ru</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_ru_back</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg</key>
                <string>https://ops-dra.agcstorage.link</string>
                <key>storage_url_sg_back</key>
                <string>https://agc-storage-dra.cloud.huawei.asia</string>
            </dict>
        </dict>
        <key>region</key>
        <string>CN</string>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.zm.ZLGitHubClient</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!00AB8C7BA939C724F6449EB26652BD3AD47E596DFDA3E6CB670035F5D6F2F1D6780D9E0ABE5BD01E90AEAF2799EDEAC021519052EE415070EBD98E3C628419344F03EF434DCE54F82BF04C5F0F1CDD10D8D5296F54A8C50964CFF5B8970FE78A63]</string>
                    <key>app_id</key>
                    <string>172249065903008985</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>4CB5E1D57DB576EEF6FCF4FA5131CB7F0AC2C132BAEFBFE7BB62D960E80E3A89</string>
                    <key>code2</key>
                    <string>6DAFADAC46723F1E42AA30E7A0DFA62810BDAF6C3E84BD7D02BEE1A05BCCB31E</string>
                    <key>code3</key>
                    <string>D1AFAE27239C1F507C15330C615D797B3D399DD951B7EDE73A462FC98EB62949</string>
                    <key>code4</key>
                    <string>147ED982BC3B51CCAA78F6BC5C327345</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
