<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZLLogModule</key>
	<dict>
		<key>class</key>
		<string>ZLLogManager</string>
		<key>type</key>
		<integer>2</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedInstance</string>
	</dict>
	<key>ZLDBModule</key>
	<dict>
		<key>class</key>
		<string>ZLDataBaseManager</string>
		<key>type</key>
		<integer>2</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedInstance</string>
	</dict>
	<key>ZLLANModule</key>
	<dict>
		<key>class</key>
		<string>ZLLanguageManager</string>
		<key>type</key>
		<integer>2</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedInstance</string>
	</dict>
	<key>ZLViewerServiceModel</key>
	<dict>
		<key>class</key>
		<string>ZLViewerServiceModel</string>
		<key>type</key>
		<integer>1</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedServiceModel</string>
	</dict>
	<key>ZLUserServiceModel</key>
	<dict>
		<key>class</key>
		<string>ZLUserServiceModel</string>
		<key>type</key>
		<integer>1</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedServiceModel</string>
	</dict>
	<key>ZLLoginServiceModel</key>
	<dict>
		<key>class</key>
		<string>ZLLoginServiceModel</string>
		<key>type</key>
		<integer>1</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedServiceModel</string>
	</dict>
	<key>ZLRepoServiceModel</key>
	<dict>
		<key>class</key>
		<string>ZLRepoServiceModel</string>
		<key>type</key>
		<integer>1</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedServiceModel</string>
	</dict>
	<key>ZLSearchServiceModel</key>
	<dict>
		<key>class</key>
		<string>ZLSearchServiceModel</string>
		<key>type</key>
		<integer>1</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedServiceModel</string>
	</dict>
	<key>ZLAdditionServiceModel</key>
	<dict>
		<key>class</key>
		<string>ZLAdditionServiceModel</string>
		<key>type</key>
		<integer>1</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedServiceModel</string>
	</dict>
	<key>ZLEventServiceModel</key>
	<dict>
		<key>class</key>
		<string>ZLEventServiceModel</string>
		<key>type</key>
		<integer>1</integer>
		<key>isSingle</key>
		<true/>
		<key>singleMethod</key>
		<string>sharedServiceModel</string>
	</dict>
</dict>
</plist>
